@import url("lib/photon-colors.css");

body > * {
  visibility: hidden;
}

body.loaded > * {
  visibility: visible;
}

:root {
  --button-border-radius: 4px;
  --button-background-active: hsla(0, 0%, 70%, 0.6);
  --button-background-hover: hsla(0, 0%, 70%, 0.4);

  --close-icon-hover: hsla(0, 0%, 0%, 0.18);
  --close-icon-active: hsla(0, 0%, 0%, 0.25);

  --tab-height-normal: 52px;
  --tab-height-compact: 36px;

  --icons: var(--grey-90-a80);
  --toolbar-background: var(--grey-10);
  --toolbar-text: var(--grey-90);

  --input-background: var(--white-100);
  --input-border: hsla(0, 0%, 20%, 0.18);
  --input-border-focus: var(--blue-50);
  --input-text: var(--grey-50);
  --input-text-focus: var(--grey-70);

  --background: var(--white-100);
  --tab-selected-line: var(--blue-60);
  --tab-active-background: var(--grey-30);
  --tab-hover-background: hsla(0, 0%, 50%, 0.2);
  --tab-separator: rgba(0, 0, 0, 0.3);
  --tab-text: var(--grey-90);
}

body.incognito {
  --identity-color: var(--purple-50);
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--tab-text);
  font: message-box;
}

#spacer {
  flex: 1;
}

#topmenu {
  color: var(--toolbar-text);
  display: flex;
  flex-shrink: 0;
  height: 38px;
  padding: 4px 4px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
  background-color: var(--toolbar-background);
}

#newtab,
#settings {
  box-sizing: border-box;
  display: flex;
  flex: 0 20 auto;
  min-width: 24px;
  align-items: center;
  padding: 4px 5px;
}

canvas {
  display: none;
}

/* This is important for event bubbling: when we click a tab, e.target
   will be the tab, and not one of its child elements */
img,
.tab *:not(.clickable) {
  pointer-events: none;
}

[data-identity-color="blue"] {
  --identity-color: var(--blue-50);
}

[data-identity-color="turquoise"] {
  --identity-color: var(--teal-50);
}

[data-identity-color="green"] {
  --identity-color: var(--green-50);
}

[data-identity-color="yellow"] {
  --identity-color: var(--yellow-50);
}

[data-identity-color="orange"] {
  --identity-color: var(--orange-50);
}

[data-identity-color="red"] {
  --identity-color: var(--red-50);
}

[data-identity-color="pink"] {
  --identity-color: var(--magenta-50);
}

[data-identity-color="purple"] {
  --identity-color: var(--purple-50);
}

.topmenu-button {
  border-radius: var(--button-border-radius);
}

.topmenu-button:hover {
  background-color: var(--button-background-hover);
}

.topmenu-button:hover:active {
  background-color: var(--button-background-active);
}

#newtab-icon,
#settings-icon {
  width: 16px;
  height: 16px;
  background-position: center;
  -moz-context-properties: fill;
  fill: var(--icons);
  filter: url("img/filters.svg#fill");
}

#newtab-icon {
  background-image: url("img/new.svg#standard");
}

#settings-icon {
  background-image: url("img/settings.svg");
}

#searchbox-icon {
  min-width: 30px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("img/search.svg");
  margin: 0 0 0 4px;
  -moz-context-properties: fill, fill-opacity;
  fill: var(--input-text);
  fill-opacity: 0.5; /* it displays the icon as the intented color, though I don’t know why */
  filter: url("img/filters.svg#fill");
  border-radius: var(--button-border-radius);
}

#searchbox-input {
  color: var(--input-text);
  background-color: var(--input-background);
  display: flex;
  flex: 1;
  font: inherit; /* needed for windows */
  margin-left: -30px;
  margin-right: 4px;
  padding: 2px;
  padding-left: 26px;
  border: 1px solid var(--input-border);
  border-radius: var(--button-border-radius);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  transition: border-color 0.1s, box-shadow 0.1s;
  cursor: text;
}

#searchbox-input:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

#searchbox-input:focus {
  border: 1px solid var(--input-border-focus);
}

body[platform="win"] #searchbox-input {
  border-radius: 2px;
}

body[platform="mac"] #searchbox-input {
  font-size: 12px;
}

body[platform="mac"] #searchbox-input:focus {
  border: 1px solid -moz-mac-focusring;
  box-shadow: 0 0 0 1px -moz-mac-focusring inset, 0 0 0 1px -moz-mac-focusring;
}

#searchbox-input::placeholder {
  color: var(--input-text);
}

body.has-custom-input-color #searchbox-input::selection {
  color: var(--input-selected-text);
  background-color: var(--input-selected-text-background);
}

#tablist {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.tab {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab:not(.active):hover {
  background-color: var(--tab-hover-background);
}

#tablist .tab,
#pinnedtablist:not(.compact) .tab {
  flex-shrink: 0;
  position: relative;
  padding: 0px 2px;
  height: var(--tab-height-normal);
  max-height: var(--tab-height-normal);
  min-height: 0;
  min-width: 0;
  border-bottom: 1px solid var(--tab-separator);
}

.tab.added,
.tab.added *,
.tab.deleted,
.tab.deleted * {
  pointer-events: none !important;
}

#tablist .tab.added,
#pinnedtablist:not(.compact) .tab.added,
#tablist .tab.deleted,
#pinnedtablist:not(.compact) .tab.deleted {
  height: 0 !important;
}

#pinnedtablist.compact .tab {
  position: relative;
  height: calc(var(--tab-height-compact) - 2px);
  max-height: calc(var(--tab-height-compact) - 2px);
  width: calc(var(--tab-height-compact) - 2px);
  max-width: calc(var(--tab-height-compact) - 2px);
  min-width: 0;
}

body.animated #tablist {
  scroll-behavior: smooth;
}

/* HACK: keep in sync with animation time in JS */
body.animated #tablist-wrapper .tab {
  transition: box-shadow 0.1s ease, height 0.05s linear;
}

body.animated #pinnedtablist.compact .tab {
  transition: box-shadow 0.1s ease, width 0.1s linear;
}

#tablist.compact .tab.deleted + .tab,
#tablist:not(.compact) .tab.deleted + .tab,
#pinnedtablist:not(.compact) .tab.deleted + .tab {
  border-top: 1px solid var(--tab-separator);
}

#pinnedtablist.compact .tab.added,
#pinnedtablist.compact .tab.deleted {
  width: 0 !important;
}

.tab.being-added *,
.tab.deleted * {
  opacity: 0;
}

.tab.active {
  color: var(--tab-active-text);
  background-color: var(--tab-active-background);
}

.tab-loading-burst {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.tab-loading-burst::before {
  position: absolute;
  content: "";
  /* We set the width to be a percentage of the tab's width so that we can use
       the `scale` transform to scale it up to the full size of the tab when the
       burst occurs. We also need to set margin-top/margin-left so that the
       center of the burst matches the center of the favicon. */
  width: 5%;
  height: 100%;
  margin-left: 17px;
  margin-top: 10px;
}

.tab.bursting .tab-loading-burst::before {
  background-image: url("img/loading-burst.svg#standard");
  -moz-context-properties: fill;
  fill: var(--tab-loading-indicator);
  filter: url("img/filters.svg#fill");
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  animation: tab-burst-animation 375ms cubic-bezier(0, 0, 0.58, 1);
}

.tab:not(.active).bursting .tab-loading-burst::before {
  background-image: url("img/loading-burst.svg#light");
}

.tab.bursting.not-selected-since-load .tab-loading-burst::before {
  animation-name: tab-burst-animation-light;
}

#pinnedtablist .tab .tab-loading-burst::before {
  margin-left: 12px;
  margin-top: 0px;
}

#tablist-wrapper.shrinked .tab-loading-burst::before {
  margin-left: 10px;
  margin-top: 0px;
}

@keyframes tab-burst-animation {
  0% {
    opacity: 0.4;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(40);
  }
}

@keyframes tab-burst-animation-light {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(40);
  }
}

#tablist .tab.active,
#pinnedtablist:not(.compact) .tab.active {
  box-shadow: inset 4px 0 0px 0px var(--tab-selected-line);
}

body #pinnedtablist.compact .tab .tab-context {
  position: absolute;
  height: 100%;
  width: 20px;
  margin: 0 auto;
}

/* stylelint-disable */
body.incognito #tablist .tab .tab-context,
body.incognito #pinnedtablist:not(.compact) .tab .tab-context {
  height: 100%;
}

body #tablist .tab[data-identity-color] .tab-context,
body.incognito #tablist .tab .tab-context,
body.incognito #pinnedtablist:not(.compact) .tab .tab-context,
body #pinnedtablist:not(.compact) .tab[data-identity-color] .tab-context {
  position: absolute;
  height: 80%;
  width: 100%;
  box-shadow: inset -3px 0 0px 0px var(--identity-color);
}
/* stylelint-enable */

#tablist-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#pinnedtablist {
  z-index: 50;
  background-color: var(--background);
}

#pinnedtablist.compact {
  display: flex;
  flex-wrap: wrap;
}

.tab.discarded .tab-meta-image {
  opacity: 0.45;
}

#pinnedtablist.compact .tab .tab-meta-image {
  margin-bottom: -1px; /* Make favicon feel centered even when tab is active */
}

#pinnedtablist.compact .tab.active {
  box-shadow: inset 0 3px 0px 0px var(--tab-selected-line);
}

body.incognito #pinnedtablist.compact .tab .tab-context {
  width: 100%;
  margin-left: 0;
}

body.incognito #pinnedtablist.compact .tab .tab-context,
body:not(.incognito) #pinnedtablist.compact .tab.hasContext .tab-context {
  box-shadow: inset 0 -2px 0px 0px var(--identity-color);
}

#pinnedtablist.compact:not(:empty) {
  border-bottom: 1px solid var(--tab-separator);
}

#topshadow,
#bottomshadow {
  z-index: 25;
  flex-shrink: 0;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0px 0px 7px 5px var(--grey-50);
}

#topshadow {
  position: relative;
}

#bottomshadow {
  position: relative;
  bottom: 0px;
}

#tablist-wrapper.highlight-scroll-bottom #bottomshadow {
  box-shadow: 0px 0px 7px 5px var(--blue-60);
  transition: box-shadow 0s;
}

#tablist-wrapper.can-scroll-top #topshadow,
#tablist-wrapper.can-scroll-bottom #bottomshadow {
  opacity: 1;
}

.tab-icon-overlay {
  display: none;
  z-index: 1;
  position: absolute;
  bottom: 2px;
  right: 1px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--white-100);
  background-size: contain;
  background-clip: padding-box;
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  box-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.5);
}

.tab-drag-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

#tablist-wrapper.shrinked #tablist:not(.compact) .tab-icon-overlay {
  left: 18px;
}

#tablist-wrapper:not(.shrinked) #tablist:not(.compact) .tab-icon-overlay {
  width: 16px;
  height: 16px;
  top: 0;
  left: 10px;
}

.tab.audible:not(.muted) .tab-icon-overlay-audible {
  display: block;
  background-image: url("img/tab-audio-small.svg#tab-audio");
}

.tab.muted .tab-icon-overlay-muted {
  display: block;
  background-image: url("img/tab-audio-small.svg#tab-audio-muted");
}

#pinnedtablist.compact .tab > .tab-meta-image {
  background-image: none !important; /* Because the JS script sets it manually */
}

#tablist-wrapper:not(.shrinked) #tablist .tab-meta-image,
#tablist-wrapper:not(.shrinked) #pinnedtablist:not(.compact) .tab-meta-image {
  margin-left: 6px;
  min-width: 54px;
  height: 40px;
  border: 0;
  background-image: url("img/thumbnail-blank.svg");
  background-size: contain;
  background-color: var(--white-100);
  background-repeat: no-repeat;
  box-shadow: 0 0 2px 2px hsla(0, 0%, 0%, 0.02), 0 2px 0 hsla(0, 0%, 0%, 0.05),
    0 0 0 1px hsla(0, 0%, 0%, 0.2);
}

#tablist-wrapper.shrinked #tablist.compact .tab-meta-image,
#tablist-wrapper.shrinked #tablist:not(.compact) .tab-meta-image,
#tablist-wrapper.shrinked #pinnedtablist:not(.compact) .tab-meta-image {
  background: none !important; /* Because the JS script sets it manually */
  /* Make it the same size as the favicon it contains */
  height: 24px;
  width: 24px;
  margin-left: 5px;
}

#tablist-wrapper:not(.shrinked) #tablist .tab-meta-image.has-thumbnail,
#tablist-wrapper:not(.shrinked) #pinnedtablist:not(.compact) .tab-meta-image.has-thumbnail {
  border: 2px solid white;
}

.tab-icon-wrapper {
  height: 24px;
  width: 24px;
}

#tablist-wrapper:not(.shrinked) #tablist .tab-icon-wrapper,
#tablist-wrapper:not(.shrinked) #pinnedtablist:not(.compact) .tab-icon-wrapper {
  height: 20px;
  width: 20px;
  margin-left: 0px;
  margin-top: 20px;
  border-radius: var(--button-border-radius);
  background-color: var(--white-100);
  box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.08), 0 0 0 1px hsla(0, 0%, 0%, 0.08);
}

#tablist-wrapper:not(.shrinked) #tablist .tab-meta-image.has-thumbnail > .tab-icon-wrapper,
#tablist-wrapper:not(.shrinked)
  #pinnedtablist:not(.compact)
  .tab-meta-image.has-thumbnail
  > .tab-icon-wrapper {
  margin-left: -2px;
  margin-top: 18px;
}

.tab-icon {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: content-box;
  margin: 3px auto;
}

.tab-icon.chrome-icon {
  -moz-context-properties: fill;
  fill: var(--tab-text);
  filter: url("img/filters.svg#fill");
}

#tablist-wrapper:not(.shrinked) #tablist .tab-icon.chrome-icon,
#tablist-wrapper:not(.shrinked) #pinnedtablist:not(.compact) .tab-icon.chrome-icon {
  fill: var(--grey-90-a80);
}

.tab.loading .tab-icon {
  position: relative;
  overflow: hidden;
  background-image: none !important;
}

.tab.loading .tab-icon::before {
  /* Code from https://hg.mozilla.org/mozilla-central/file/tip/browser/themes/shared/tabs.inc.css */
  content: "";
  position: absolute;
  background-image: url("img/loading-spinner.svg#standard");
  background-position: left center;
  background-repeat: no-repeat;
  width: 540px;
  height: 100%;
  animation: tab-throbber-animation 1.05s steps(30) infinite;
  -moz-context-properties: fill;
  fill: var(--tab-loading-indicator);
  opacity: 0.7;
  /* End of copied code */
  background-size: contain;
}

@keyframes tab-throbber-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes tab-throbber-animation-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.tab-title-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  mask-image: linear-gradient(to left, transparent 0, black 2em);
  margin-left: 6px;
}

#tablist-wrapper.shrinked .tab-title-wrapper {
  margin-left: 6px;
}

#tablist .tab:hover > .tab-title-wrapper {
  z-index: 0; /* So that highlighting doesn’t draw above shadows */
  mask-image: linear-gradient(to left, transparent 28px, black calc(2em + 28px));
}

.tab-title,
.tab-url {
  white-space: nowrap;
  overflow: hidden;
}

.tab-url {
  opacity: 0.6;
}

.tab.discarded .tab-title {
  opacity: 0.5;
}

#tablist-wrapper.shrinked .tab-url {
  display: none;
}

.tab-pin {
  display: none;
}

#pinnedtablist:not(.compact) .tab .tab-pin {
  width: 14px;
  height: 14px;
  margin-right: 7px;
  display: block;
  background-image: url("img/pinned.svg#standard");
  -moz-context-properties: fill;
  fill: var(--icons);
  filter: url("img/filters.svg#fill");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.tab-close {
  position: absolute;
  display: block;
  width: 28px;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-image: url("img/close.svg");
  background-size: 18px;
  -moz-context-properties: fill;
  fill: var(--icons);
  filter: url("img/filters.svg#fill");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.tab-close:hover {
  background-color: var(--close-icon-hover);
}

.tab:hover > .tab-close {
  opacity: 1;
}

.tab-close:hover:active {
  background-color: var(--close-icon-active);
}

#tablist-wrapper.shrinked #tablist .tab,
#tablist-wrapper.shrinked #pinnedtablist:not(.compact) .tab {
  height: var(--tab-height-compact);
  max-height: var(--tab-height-normal);
}

#tablist-wrapper.can-scroll-top #tablist .tab:last-child {
  border-bottom: 0;
}

#pinnedtablist:empty {
  display: none;
}

#tablist-wrapper #pinnedtablist {
  flex-shrink: 0;
}

#pinnedtablist.compact .tab .tab-icon {
  margin: 4px auto;
}

#pinnedtablist.compact .tab > .tab-title-wrapper,
#pinnedtablist .tab > .tab-close {
  display: none;
}

#pinnedtablist.compact .tab.wants-attention {
  background-image: url("img/tab-attention.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

#moretabs {
  background-color: var(--background);
  z-index: 50;
  display: flex;
  align-items: center;
  height: var(--tab-height-compact);
  padding-left: 31px;
}

#moretabs:hover {
  background-color: hsla(0, 0%, 0%, 0.1);
}

#moretabs:not(.hasMoreTabs) {
  display: none;
}

#tablist-wrapper:not(.can-scroll-top):not(.can-scroll-bottom) #moretabs {
  border-bottom: 1px solid var(--tab-separator);
}

.hidden,
.filtered,
.will-be-deleted {
  display: none !important;
}

/* stylelint-disable */
#tablist .tab.drag-highlight-previous .tab-drag-overlay,
#pinnedtablist:not(.compact) .tab.drag-highlight-previous .tab-drag-overlay {
  box-shadow: inset 0px 2px 0px 0px var(--tab-selected-line) !important;
}

#tablist .tab.drag-highlight-next,
#pinnedtablist:not(.compact) .tab.drag-highlight-next {
  border-bottom-color: var(--tab-selected-line);
}

#tablist .tab.drag-highlight-next .tab-drag-overlay,
#pinnedtablist:not(.compact) .tab.drag-highlight-next .tab-drag-overlay {
  box-shadow: inset 0px -1px 0px 0px var(--tab-selected-line) !important;
}
/* stylelint-enable */

#pinnedtablist.compact .tab.drag-highlight-previous .tab-drag-overlay {
  box-shadow: inset 2px 0px 0px 0px var(--tab-selected-line) !important;
}

#pinnedtablist.compact .tab.drag-highlight-next .tab-drag-overlay {
  box-shadow: inset -2px 0px 0px 0px var(--tab-selected-line) !important;
}
